--
-- PostgreSQL database dump
--

\restrict ecBDfUyayNI30OHEqeOgBpTPEjGahJYI9LM1KzKscPBfUfepOE9Grw3zr2HRe2X

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: walo
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO walo;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: walo
--

COMMENT ON SCHEMA public IS '';


--
-- Name: StoreRole; Type: TYPE; Schema: public; Owner: walo
--

CREATE TYPE public."StoreRole" AS ENUM (
    'OWNER',
    'EDITOR'
);


ALTER TYPE public."StoreRole" OWNER TO walo;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: walo
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "storeId" text NOT NULL,
    name text NOT NULL,
    description text,
    price integer NOT NULL,
    visible boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO walo;

--
-- Name: Store; Type: TABLE; Schema: public; Owner: walo
--

CREATE TABLE public."Store" (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    "whatsappPhone" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Store" OWNER TO walo;

--
-- Name: StoreMember; Type: TABLE; Schema: public; Owner: walo
--

CREATE TABLE public."StoreMember" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "storeId" text NOT NULL,
    role public."StoreRole" DEFAULT 'OWNER'::public."StoreRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StoreMember" OWNER TO walo;

--
-- Name: User; Type: TABLE; Schema: public; Owner: walo
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    "passwordHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO walo;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: walo
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO walo;

--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: walo
--

COPY public."Product" (id, "storeId", name, description, price, visible, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Store; Type: TABLE DATA; Schema: public; Owner: walo
--

COPY public."Store" (id, slug, name, description, "whatsappPhone", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: StoreMember; Type: TABLE DATA; Schema: public; Owner: walo
--

COPY public."StoreMember" (id, "userId", "storeId", role, "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: walo
--

COPY public."User" (id, email, name, "passwordHash", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: walo
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
10dc6980-32cb-47da-b5b1-adf31e4818b1	b6522ec0d398136dec8deadbd9a71bb14e215747d491c91c8438f03e2148aed0	2026-05-02 21:19:59.979992+00	20260426022835_init	\N	\N	2026-05-02 21:19:59.881907+00	1
\.


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: StoreMember StoreMember_pkey; Type: CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."StoreMember"
    ADD CONSTRAINT "StoreMember_pkey" PRIMARY KEY (id);


--
-- Name: Store Store_pkey; Type: CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."Store"
    ADD CONSTRAINT "Store_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Product_storeId_idx; Type: INDEX; Schema: public; Owner: walo
--

CREATE INDEX "Product_storeId_idx" ON public."Product" USING btree ("storeId");


--
-- Name: Product_storeId_visible_idx; Type: INDEX; Schema: public; Owner: walo
--

CREATE INDEX "Product_storeId_visible_idx" ON public."Product" USING btree ("storeId", visible);


--
-- Name: StoreMember_storeId_idx; Type: INDEX; Schema: public; Owner: walo
--

CREATE INDEX "StoreMember_storeId_idx" ON public."StoreMember" USING btree ("storeId");


--
-- Name: StoreMember_userId_idx; Type: INDEX; Schema: public; Owner: walo
--

CREATE INDEX "StoreMember_userId_idx" ON public."StoreMember" USING btree ("userId");


--
-- Name: StoreMember_userId_storeId_key; Type: INDEX; Schema: public; Owner: walo
--

CREATE UNIQUE INDEX "StoreMember_userId_storeId_key" ON public."StoreMember" USING btree ("userId", "storeId");


--
-- Name: Store_slug_idx; Type: INDEX; Schema: public; Owner: walo
--

CREATE INDEX "Store_slug_idx" ON public."Store" USING btree (slug);


--
-- Name: Store_slug_key; Type: INDEX; Schema: public; Owner: walo
--

CREATE UNIQUE INDEX "Store_slug_key" ON public."Store" USING btree (slug);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: walo
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Product Product_storeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES public."Store"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoreMember StoreMember_storeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."StoreMember"
    ADD CONSTRAINT "StoreMember_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES public."Store"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoreMember StoreMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: walo
--

ALTER TABLE ONLY public."StoreMember"
    ADD CONSTRAINT "StoreMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: walo
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ecBDfUyayNI30OHEqeOgBpTPEjGahJYI9LM1KzKscPBfUfepOE9Grw3zr2HRe2X

